{% extends "base.html" %}


{% block content %}
    {% csrf_token %}
    <h3 class="text-center">{{ article_obj.title }}</h3>
    <div class="cont">
        {{ article_obj.content | safe }}
    </div>
    <div class="clearfix">
        <div id="div_digg">
            <div class="diggit action">
                <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
            </div>
            <div class="buryit action">
                <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red;"></div>
        </div>
    </div>

    <div class="comments">
        <p>评论列表</p>
        <ul class="list-group comment_list">
            {% for comment in comment_list %}
                <li class="list-group-item">
                    <div>
                        <a href=""># {{ forloop.counter }}楼</a> &nbsp;&nbsp;&nbsp;
                        <span>{{ comment.create_time|date:"Y-m-d H:i" }}</span>&nbsp;&nbsp;&nbsp;
                        <a href=""><span>{{ comment.user.username }}</span></a>
                        <a href="javascript:;" class="pull-right reply_btn"
                           username="{{ comment.user.username }}" comment_id="{{ comment.pk }}">回复</a>
                    </div>
                    {% if comment.parent_comment_id %}
                        <p class="well">
                            {{ comment.parent_comment.user }} &nbsp: &nbsp {{ comment.parent_comment.content }}
                        </p>
                    {% endif %}
                    <div class="comment_cont">
                        <span>{{ comment }}</span>
                    </div>
                </li>
            {% endfor %}

        </ul>

        <p>发表评论</p>
        <p><input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50"
                  value="{{ request.user.username }}"></p>
        <textarea name="" id="comment_content" cols="60" rows="10"></textarea>
        <div>
            <button class="btn btn-default comment-btn">提交评论</button>
        </div>
    </div>


    <script>
        $("#div_digg .action").click(function () {
            var is_up = $(this).hasClass("diggit");

            $obj = $(this).children("span");

            $.ajax({
                url: "/digg/",
                type: "post",
                data: {
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                    "is_up": is_up,
                    "article_id": "{{ article_obj.pk }}"
                },
                success: function (data) {
                    if (data.state) {
                        var val = parseInt($obj.text());
                        $obj.text(val + 1)
                    }
                    else {
                        var msg = data.handled ? "你已经推荐过了！" : "你已经踩过!";
                        $("#digg_tips").html(msg);

                        setTimeout(function () {
                            $("#digg_tips").html("")
                        }, 1000)
                    }
                }
            })


        });

        var pid = "";

        $(".comment-btn").click(function () {
            var content = $("#comment_content").val();

            if (pid) {
                var index = content.indexOf("\n");
                content = content.slice(index + 1)
            }
            ;

            $.ajax({
                url: "/comment/",
                type: "post",
                data: {
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                    "article_id": "{{ article_id }}",
                    "content": content,
                    "pid": pid

                },
                success: function (data) {
                    console.log(data);
                    $("#comment_content").val("");
                    var create_time = data.create_time;
                    var username = data.username;
                    var content = data.content;
                    var parent_user = data.parent_user;
                    var parent_content = data.parent_content;

                    var children_com = "";
                    if (pid) {
                        children_com = `<p class='well'>${parent_user} : ${parent_content}</p>`;
                    }
                    s = ` <li class="list-group-item">
                    <div>
                        <span>${create_time}</span>&nbsp;&nbsp;&nbsp;
                        <a href="">${username}</span></a>
                    </div>
                    ${children_com}
                    <div class="comment_cont">
                        <span>${content}</span>
                    </div>
                </li>`;
                    $("ul.comment_list ").append(s)
                    pid = '';

                }

            })
        });

        // 回复按钮事件
        $(".reply_btn").click(function () {
            var val = "@" + $(this).attr("username") + "\n";
            $("#comment_content").focus();
            $("#comment_content").val(val);
            console.log($(this).attr("comment_id"));
            pid = $(this).attr("comment_id");

        })

    </script>


{% endblock %}

